.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .title {
        font-size: 2rem;
        margin-bottom: 0.3rem;
    }
    .addContainer {
        width: 14rem;
        display: flex;
        justify-content: space-between;
    }
    .listContainer {
        width: 14rem;
    }
}
